[client_info]
name = Royal Appliance Service 
street_address = 128 tester str
city_zipcode = Long Beach, CA-90840
phone = 777

[postgresql]
host = awsras.cy59gewxovx2.us-east-1.rds.amazonaws.com
database = CentralDatabase
user = admin443
password = Talonss5!

[key]
secret_key = Cecs443_nbog$12

[email]
user = vothanhnhan108@gmail.com
password = ufqonuavjbsczojr
