<tr>
    <td style="text-align: center; vertical-align: middle;">{{item}}</td>
    <td style="text-align: center; vertical-align: middle;">${{total}}</td>
    <td style="text-align: center; vertical-align: middle;">${{my_part}}</td>
    <td style="text-align: center; vertical-align: middle;">${{labor}}</td>
    <td style="text-align: center; vertical-align: middle;">${{tax}}</td>
    <td style="text-align: center; vertical-align: middle;">${{shipping}}</td>
    <td style="text-align: center; vertical-align: middle;">${{net}}</td>
    <td style="text-align: center; vertical-align: middle;">${{sell}}</td>
    <td style="text-align: center; vertical-align: middle;">{{paid_by}}</td>
</tr>
